<h1 mat-dialog-title class="text-center">Szczegóły zadania</h1>
<mat-dialog-content class="mat-typography">
  <div class="d-flex flex-row mb-3">
    <div class="px-3 w-25">
      <h3 class="font-weight-bold">Status</h3>
      <p>{{ dataSource.taskStatus }}</p>
    </div>
    <div class="px-3 w-25">
      <h3 class="font-weight-bold">Data przyjęcia</h3>
      <p>{{ dataSource.startDate }}</p>
    </div>
    <div class="px-3 w-25">
      <h3 class="font-weight-bold">Data odbioru</h3>
      <p>{{ dataSource.endDate }}</p>
    </div>
  </div>
  <div class="d-flex flex-row mb-3">
    <div class="px-3 w-25">
      <p>Imie i nazwisko</p>
      {{ dataSource.client.identiti.firstName }}
      {{ dataSource.client.identiti.lastName }}
    </div>
    <div class="px-3 w-25">
      <p>Telefon</p>
      {{ dataSource.client.identiti.phoneNumber }}
    </div>
    <div class="px-3 w-25">
      <p>Adres</p>
      ul.{{ dataSource.client.identiti.address.street }}
      {{ dataSource.client.identiti.address.number }},
      {{ dataSource.client.identiti.address.postCode }}
      {{ dataSource.client.identiti.address.city }}
    </div>
  </div>
  <div class="px-3">
    <h3 class="font-weight-bold">Tytuł zadania</h3>
    <p>
      {{ dataSource.name }}
    </p>
  </div>
  <div class="px-3">
    <h3 class="font-weight-bold">Szczegółowy opis zadania</h3>
    <p>
      {{ dataSource.description }}
    </p>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Wyjdź</button>
</mat-dialog-actions>
