<mat-card class="card-container mt-2">
  <mat-card-title mat-dialog-title class="text-center pt-2"
    >Szczegóły stanowiska</mat-card-title
  >
  <h1 class="text-center">
    {{ workplaceEquipment?.identifier }}
  </h1>
  <div class="d-flex justify-content-start">
    <button class="m-2" mat-raised-button [routerLink]="['/workplace-list']">
      Wróć
    </button>
    <button
      class="m-2"
      mat-raised-button
      color="primary"
      (click)="openAddEquipmentDialog(workplaceEquipment)"
    >
      Dodaj wyposażenie
    </button>
    <button
      class="m-2"
      mat-raised-button
      color="primary"
      (click)="openAddEmployeeDialog(id)"
    >
      Dodaj pracownika
    </button>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="row justify-content-md-center">
        <mat-card
          class="example-card m-2 mat-elevation-z8"
          *ngFor="let element of workplaceEquipment?.equipmentsDto"
        >
          <mat-card-header>
            <div mat-card-avatar>
              <mat-icon>outlined_flag</mat-icon>
            </div>
            <mat-card-title>{{ element.name }}</mat-card-title>
            <mat-card-subtitle>1/szt</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>{{ element.description }}</p>
          </mat-card-content>
          <mat-card-actions align="end">
            <button
              mat-icon-button
              color="warn"
              (click)="delete(element.wokrplaceEquipmentId)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="col-6">
      <div class="row justify-content-md-center">
        <mat-card
          class="example-card m-2 mat-elevation-z8"
          *ngFor="let element of wokrplaceEmployee"
        >
          <mat-card-header>
            <div mat-card-avatar>
              <mat-icon>person</mat-icon>
            </div>
            <mat-card-title
              >{{ element.identiti.firstName }}
              {{ element.identiti.lastName }}</mat-card-title
            >
          </mat-card-header>
          <mat-card-content>
            <p>Telefon: {{ element.identiti.phoneNumber }}</p>
          </mat-card-content>
          <mat-card-actions align="end">
            <button
              mat-icon-button
              color="warn"
              (click)="delete(element.wokrplaceEquipmentId)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</mat-card>
