<mat-card class="card-container mt-2">
  <h1 mat-dialog-title class="text-center pt-2">Szczegóły stanowiska</h1>

  <h1 class="text-center">
    {{ workplaceEquipment?.identifier }}
  </h1>

  <div class="d-flex justify-content-center">
    <button class="m-2" mat-raised-button [routerLink]="['/workplace-list']">
      Wróć
    </button>
    <button
      class="m-2"
      mat-raised-button
      color="primary"
      (click)="openAddDialog(workplaceEquipment)"
    >
      Dodaj wyposażenie
    </button>
  </div>

  <div class="row justify-content-md-center">
    <mat-card
      class="col-md-12 example-card m-2 mat-elevation-z8"
      *ngFor="let element of workplaceEquipment?.equipmentsDto"
    >
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon>outlined_flag</mat-icon>
        </div>
        <mat-card-title>{{ element.name }}</mat-card-title>
        <mat-card-subtitle>1/szt</mat-card-subtitle>
      </mat-card-header>
      <!-- <img
        mat-card-image
        class="img-thumbnail"
        src="https://www.freeiconspng.com/thumbs/tool-icon/tool-icon-25.png"
      /> -->
      <mat-card-content>
        <p>{{ element.description }}</p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button
          mat-icon-button
          color="warn"
          (click)="delete(element.wokrplaceEquipmentId)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</mat-card>
