<div class="container h-75">
  <div class="row align-items-center h-100 justify-content-center">
    <div class="col-10 col-lg-7 col-xl-5">
      <mat-card>
        <span>
          <div class="text-center my-4">
            <mat-card-title>Logowanie</mat-card-title>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-10">
              <mat-form-field
                class="w-100 example-full-width"
                appearance="fill"
              >
                <mat-label>Adres email</mat-label>
                <input matInput placeholder="Np. jan.kowalski@gmail.com" />
                <mat-error> Błędny adres email. </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-10">
              <mat-form-field
                class="w-100 example-full-width"
                appearance="fill"
              >
                <mat-label>Hasło</mat-label>
                <input type="password" matInput />
                <mat-error> Błędne hasło. </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-4 d-flex justify-content-center">
              <button mat-raised-button color="primary">Zaloguj</button>
            </div>
          </div>
        </span>
      </mat-card>
    </div>
  </div>
</div>
