<mat-card class="card-container mt-2">
  <h1 mat-dialog-title class="text-center pt-2">Stanowiska pracy</h1>
  <div class="d-flex flex-row bd-highlight mb-3">
    <div class="p-2 bd-highlight">
      <button
        class="m-2"
        mat-raised-button
        color="primary"
        (click)="openAddDialog()"
      >
        Dodaj stanowisko
      </button>
    </div>
  </div>
  <div class="row justify-content-md-center mx-3">
    <mat-card
      class="col-md-4 m-2 mat-elevation-z8"
      *ngFor="let element of workplaceList"
    >
      <mat-card-header [routerLink]="['/workplace-details/', element.id]">
        <div mat-card-avatar>
          <mat-icon>outlined_flag</mat-icon>
        </div>
        <mat-card-title>{{ element.identifier }}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="end">
        <button
          mat-icon-button
          color="primary"
          [routerLink]="['/workplace-details/', element.id]"
        >
          <mat-icon>info</mat-icon>
        </button>
        <button
          mat-icon-button
          color="accent"
          (click)="openUpdateDialog(element)"
        >
          <mat-icon>update</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          (click)="openDeleteDialog(element.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</mat-card>
