<mat-card class="mt-2">
  <mat-stepper [linear]="true" [formGroup]="newTaskForm" #stepper>
    <mat-step
      [stepControl]="newTaskForm.value.clientId"
      [optional]="false"
      [completed]="false"
    >
      <div class="row p-3">
        <div class="col-6 col-lg-6 col-xl-6">
          <ng-template matStepLabel>Wybierz klienta</ng-template>
          <h2>Podaj numer telefonu klienta</h2>
          <p>
            Przed stworzeniem zadania zarejestruj klienta jeśli nie istnieje
          </p>
          <mat-form-field appearance="fill" class="mt-3">
            <mat-label>Telefon</mat-label>
            <span matPrefix>+48 &nbsp;</span>
            <input
              [formControl]="myControl"
              mask="000 000 000"
              type="tel"
              matInput
              placeholder="555555123"
              [matAutocomplete]="auto"
              #phone
            />
            <mat-icon matSuffix>phone</mat-icon>
            <mat-autocomplete
              autoActiveFirstOption
              #auto="matAutocomplete"
              [displayWith]="displayWith"
            >
              <mat-option
                *ngFor="let option of filteredOptions | async"
                [value]="option"
                (onSelectionChange)="onSelected(option)"
                formControlName="clientId"
              >
                {{ option.identiti.lastName }} -
                {{ option.identiti.phoneNumber }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div *ngIf="isClientLoad" class="col-6 col-lg-6 col-xl-6">
          <mat-card class="mh-50 card">
            <div class="d-flex flex-row mb-3 p-3">
              <div class="px-3">
                <h3 class="font-weight-bold">Imie i nazwisko</h3>
                {{ selectedIdentiti.identiti.firstName }}
                {{ selectedIdentiti.identiti.lastName }}
              </div>
              <div class="px-3">
                <h3 class="font-weight-bold">Adres</h3>
                ul.{{ selectedIdentiti.identiti.address.street }}
                {{ selectedIdentiti.identiti.address.number }},
                {{ selectedIdentiti.identiti.address.postCode }}
                {{ selectedIdentiti.identiti.address.City }}
              </div>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="row h-100 align-items-end">
        <div class="col-12">
          <div class="mt-5" mat-dialog-actions align="end">
            <button
              mat-raised-button
              color="warn"
              class="mx-2"
              (click)="phone.value = ''; newTaskForm.reset()"
            >
              Wyczyść
            </button>
            <button
              mat-raised-button
              matStepperNext
              color="primary"
              class="mx-2"
              [disabled]="!newTaskForm.value.clientId"
            >
              Dalej
            </button>
          </div>
        </div>
      </div>
    </mat-step>
    <mat-step
      label="Szczgóły zgłoszenia"
      [stepControl]="newTaskForm.value.name && newTaskForm.value.description"
      [optional]="false"
      [completed]="false"
    >
      <div class="row p-3">
        <div class="col-6 col-lg-6 col-xl-6">
          <h3 class="font-weight-bold">Nazwa zadania</h3>
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Np. Uszkodzony telefon</mat-label>
            <input #name maxlength="50" matInput formControlName="name" />
            <mat-hint align="end">{{ name.value.length || 0 }}/50</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-6 col-lg-6 col-xl-6">
          <h3 class="font-weight-bold">Opis zadania</h3>
          <mat-form-field appearance="fill" color="primary" class="w-100">
            <mat-label>Opis zadania</mat-label>
            <textarea
              maxlength="350"
              matInput
              #desc
              rows="5"
              formControlName="description"
            ></textarea>
            <mat-hint align="end">{{ desc.value.length || 0 }}/350</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="mt-5" mat-dialog-actions align="end">
        <button class="m-2" mat-raised-button matStepperPrevious color="warn">
          Wróć
        </button>
        <button
          mat-raised-button
          color="warn"
          class="mx-2"
          (click)="phone.value = ''; newTaskForm.reset(); stepper.previous()"
        >
          Wyczyść
        </button>
        <button class="m-2" mat-raised-button matStepperNext color="primary">
          Dalej
        </button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Podsumowanie</ng-template>
      <p>Sprawdź wszystkie pola ponownie i kliknij zapisz.</p>
      <p>Wszystkie kroki przebiegły pomyślnie możesz dokonać zapisu.</p>
      <div class="mt-5">
        <button class="m-2" mat-raised-button matStepperPrevious color="warn">
          Wróć
        </button>
        <button
          class="m-2"
          mat-raised-button
          color="accent"
          (click)="saveTask()"
          [disabled]="addButton"
        >
          Zapisz zgłoszenie
        </button>
        <button
          class="m-2"
          mat-raised-button
          matStepperNext
          color="primary"
          [disabled]="!addButton"
        >
          Dalej
        </button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Potwierdzenie PDF</ng-template>
      <div *ngIf="isTaskAdd" id="print-section" class="col-6 col-lg-6 col-xl-6">
        <h2 class="text-center">Potwierdzenie przyjęcia sprzętu</h2>

        <p>Imię i nazwisko zleceniodawcy - numer telefonu</p>
        <mat-card>
          {{ selectedIdentiti.identiti.firstName }}
          {{ selectedIdentiti.identiti.lastName }} -
          {{ selectedIdentiti.identiti.phoneNumber }}
        </mat-card>
        <p>Data przyjęcia</p>
        <mat-card>
          {{ taskBody.startDate | date : "yyyy-MM-dd, HH:mm:ss" }}
        </mat-card>
        <p>Nazwa dla zgłoszenia</p>
        <mat-card> {{ taskBody.name }} </mat-card>
        <p>Opis</p>
        <mat-card style="min-height: 100">
          {{ taskBody.description }}
        </mat-card>
        <p>Dodatkowe uwagi</p>
        <mat-card style="min-height: 100"></mat-card>
        <p>Podpis zleceniobiorcy</p>
        <mat-card style="min-height: 50; width: 250"></mat-card>
        <p>Podpis zleceniodawcy</p>
        <mat-card style="min-height: 50; width: 250"></mat-card>
      </div>
      <div class="mt-5">
        <button
          class="m-2"
          mat-raised-button
          color="primary"
          printSectionId="print-section"
          [useExistingCss]="true"
          ngxPrint
        >
          Drukuj potwierdzenie PDF
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</mat-card>
