<div class="container">
  <h1 mat-dialog-title class="text-center">Lista zleceń</h1>
  <mat-dialog-content>
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel
        *ngFor="let element of taskList; let i = index"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title> {{ i + 1 }}. {{ element.name }} </mat-panel-title>
          <mat-panel-description>
            <div class="spacer text-start">
              {{ element.startDate | date: "yyyy-MM-dd - HH:mm:ss" }}
            </div>
            <div
              class="text-end font-weight-bold text-uppercase"
              [ngStyle]="{
                color:
                  element.taskStatus == 'RECEIVED'
                    ? '#2a00d1'
                    : element.taskStatus == 'WAITING_FOR_CLIENT'
                    ? '#049109'
                    : element.taskStatus == 'COLLECTED'
                    ? '#1400f2'
                    : '#f56e07'
              }"
            >
              {{ taskStatusMap(element.taskStatus) }}
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="d-flex flex-column bd-highlight mb-3">
          <div class="p-2 bd-highlight">
            <mat-card>
              <p class="fw-bold">Opis</p>
              <p>{{ element.description }}</p>
            </mat-card>
          </div>
          <div class="p-2 bd-highlight">
            <mat-card>
              <p class="fw-bold">Wykonane czynności</p>
              <p>{{ element.activities }}</p>
            </mat-card>
          </div>
          <div class="p-2 bd-highlight">
            <mat-card>
              <p class="fw-bold">Cena naprawy</p>
              <p>{{ element.amount ? element.amount + "zł" : "" }}</p>
            </mat-card>
          </div>
        </div>
        <mat-action-row>
          <button
            *ngIf="element.taskStatus == 'WAITING_FOR_CLIENT'"
            mat-raised-button
            color="warn"
            (click)="endTask(element.id)"
          >
            Zakończ
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Wyjdź</button>
  </mat-dialog-actions>
</div>
