<mat-stepper [linear]="true" #stepper>
  <mat-step>
    <div class="row">
      <div class="col-6 col-lg-6 col-xl-6">
        <form class="p-3">
          <ng-template matStepLabel>Wybierz klienta</ng-template>
          <h2>Podaj numer telefonu klienta</h2>
          <p>
            Przed stworzeniem zadania zarejestruj klienta jeśli nie istnieje
          </p>
          <mat-form-field appearance="fill" class="mt-3">
            <mat-label>Telefon</mat-label>
            <span matPrefix>+48 &nbsp;</span>
            <input
              mask="000 000 000"
              type="tel"
              matInput
              placeholder="555 555 123"
            />
            <mat-icon matSuffix>phone</mat-icon>
          </mat-form-field>
          <div class="mt-5">
            <button mat-button matStepperNext>Dalej</button>
          </div>
        </form>
      </div>
      <div class="col-6 col-lg-6 col-xl-6">
        <div class="d-flex flex-row mb-3 p-3">
          <div class="px-3">
            <h3 class="font-weight-bold">Imie i nazwisko</h3>
            bartek Mozdzierz
          </div>
          <div class="px-3">
            <h3 class="font-weight-bold">Adres</h3>
            ul.Warszawska 10, 33-212 Kielce
          </div>
        </div>
      </div>
    </div>
  </mat-step>
  <mat-step label="Szczgóły zgłoszenia">
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" required />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Dalej</button>
        <button mat-button matStepperNext>Wróć</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Podsumowanie</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Wróć</button>
    </div>
  </mat-step>
</mat-stepper>
